.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
}

.indexHeader {
    font-size: 3em;
}

.nn {
    text-align: center;
    margin: 50px;
}