{{ if or .Next .Prev -}}
<div class="nextprev">
  {{- with .Prev }}
  <a href="{{ .RelPermalink}}"
    ><div
      id="prevart"
      style="
        margin: 0 auto;
        max-width: 1000px;
        float: left;
        text-align: left;
        max-width: 33%;
      "
    >
      Previous:<br />{{.Title}}
    </div></a
  >
  {{ end -}} {{- with .Next -}}
  <a href="{{ .RelPermalink}}"
    ><div
      id="nextart"
      style="
        margin: 0 auto;
        max-width: 1000px;
        float: right;
        text-align: right;
        max-width: 33%;
      "
    >
      Next:<br />{{.Title}}
    </div></a
  >
  {{ end -}}
</div>
{{ end -}}
