// Colors
$darkGrey: #323232;
$white: #F5F5F5;
$black: #2f2f2f;
$blue: #3366cc;



$backgroundDarker: #252627;
$backgroundDark: #292a2d;

$backgroundLight: #f8f8ff;
$backgroundLighter: #FFFFFF;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;